<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /hukuminfo/

# =========================
# HILANGKAN .PHP
# =========================
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# =========================
# KATEGORI
# =========================
RewriteRule ^kategori=([^/]+)/?$ kategori.php?slug=$1 [L,QSA]

# =========================
# TAGS
# =========================
RewriteRule ^tags=([^/]+)/?$ tags.php?slug=$1 [L,QSA]

# =========================
# REDAKSI
# =========================
RewriteRule ^redaksi=([^/]+)/?$ redaksi-detail.php?slug=$1 [L,QSA]

# =========================
# ARTIKEL
# =========================
RewriteRule ^([a-zA-Z0-9-]+)/?$ artikel-detail.php?slug=$1 [L,QSA]

</IfModule>